<div class="app-container">
  <header class="header">
    <h1>PixelTrack</h1>
  </header>
  <app-navbar 
    [currentLang]="currentLang" 
    [currentFlag]="currentFlag" 
    (toggleFlags)="toggleCountryList()">
  </app-navbar>

  <div *ngIf="showCountryList; else gameContent">
    <app-country-list (countrySelected)="onCountrySelected($event)"></app-country-list>
  </div>

  <ng-template #gameContent>
    <main class="game-board">
      <app-album-image [imageUrl]="currentAlbumImage" [genre]="currentGenre" [label]="currentInfoLabel" [blurAmount]="currentBlur"></app-album-image>
      
      <div *ngIf="currentBlur === 0" class="album-name-reveal">
        <h3>Album: <span class="album-title">{{ currentAlbumName }}</span></h3>
      </div>

      <app-board [word]="currentArtistName" (guessChecked)="onGuessChecked($event.status, $event.row)"></app-board>
    </main>

    <app-key-board (keyPress)="onKeyPress($event)" [keyStatuses]="keyStatuses"></app-key-board>
  </ng-template>

  <footer class="footer">
    <p>Simple. Grid. PixelTrack.</p>
  </footer>
</div>
