<div class="country-list-container">
  <h2>Lista de Banderas</h2>
  <p>Total de páginas: {{ totalPages() }}</p>
  
  <div class="grid-container">
    <div *ngFor="let country of paginatedCountries()" class="country-card">
      <img [src]="country.flags.png" [alt]="country.flags.alt || country.name.common" class="flag-image">
      <p>{{ country.name.common }}</p>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage() === 1">Anterior</button>
    <span>Página {{ currentPage() }} de {{ totalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">Siguiente</button>
  </div>
</div>
